form {width: 1000px;text-align: center;}
div.edit {width: 100%;text-align: right;}
#spinner {display: inline;float: left; height: 200px; width: 45%; border: none;}
div.clear {clear: both;}
.dataval {word-wrap: break-word; overflow-wrap: break-word; width: 200px; max-width: 200px;}
#savebox {padding: 15px; margin: 0 auto; width: 80%; }
#savebox label.field {display: block; float: left; width:250px;}
#accordion {margin: 15px;}